<strong>Depoimentos</strong>
<br>

<section id="testimonies">
    <div class="card">
        <p><strong>Depoimentos</strong></p>
        <p>shdkjas kas dgaskjdhg askga skjdhgasd gsakjdhgaskdskjadhksj dh</p>
    </div>

    <div class="card">
        <p><strong>Depoimentos</strong></p>
        <p>shdkjas kas dgaskjdhg askga skjdhgasd gsakjdhgaskdskjadhksj dh</p>
    </div>

    <div class="card">
        <p><strong>Depoimentos</strong></p>
        <p>shdkjas kas dgaskjdhg askga skjdhgasd gsakjdhgaskdskjadhksj dh</p>
    </div>
</section>

<hr>

<section id="form">
    <h3>Envie seu depoimento</h3>

    <form method="post">
        <label>Nome</label>
        <input type="text" name="nome" required>

        <label>Mensagem</label>
        <textarea name="mensagem" rows="5" required></textarea>

        <button type="submit">Enviar</button>
    </form>
</section>